beautifulsoup4
bidict
black
black
blackcellmagic
feedparser
flake8
flake8
google-cloud-aiplatform
html2text
html5lib
ipykernel
jupyter
langchain
llama-index
llama-index-embeddings-cohere
llama-index-embeddings-openai
llama-index-llms-cohere
llama-index-postprocessor-cohere-rerank
llama-parse
lxml
markdownify
matplotlib
mistralai
nbformat
numpy
ollama
openai
panda
plotly
pyarrow
pycryptodome
pygraphviz
PyPDF2
python-dotenv
pythonbible
pyvis
seaborn
sentencepiece
termcolor
tiktoken
transformers 