beautifulsoup4
bidict
black
black
blackcellmagic
feedparser
flake8
flake8
google-cloud-aiplatform
html2text
html5lib
ipykernel
jupyter
langchain
llama-index
lxml
markdownify
matplotlib
mistralai
nbformat
numpy
ollama
openai
panda
plotly
pyarrow
pycryptodome
PyPDF2
python-dotenv
pythonbible
seaborn
sentencepiece
termcolor
tiktoken